.login-page {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Background styles */
  background-image: linear-gradient(rgba(222, 222, 220, 0.8),rgba(210, 209, 209, 0.8)), url('../assets/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
